<div class="header-content">
    <h6><%= title %></h6>
    <% if collections %>
    <div class="pull-right" style="background: #f8f8f8; padding: 1px">
        <%= 
            will_paginate collections, 
            previous_label: "<i class='fa fa-angle-left' title='Anterior'></i>", 
            next_label: "<i class='fa fa-angle-right' title='Siguiente'></i>",
            page_links: false
        %>
    </div>
    <% end %>
</div>