.form-container{
    width: 100%;
    max-width: 400px;
    color: white;
    text-align: left;
    background: rgba(0,0,0, 0.6);
    padding: 30px;
    margin-top: 8%;
}
.form-container a{
    color: white;
}
.full-width{
    width: 100%;
}
.errors{
    color: red;
}
#error_explanation h2{
    display: none;
}
@media (max-width: 1024px) {
    .form-container{
        margin-top: 20%;
    }
}
@media (max-width: 768px) {
    .form-container{
        margin-top: 30%;
    }
}
@media (max-width: 400px) {
    .form-container{
        margin-top: 25%;
    }
}