.desaau.bg-dark{
    background-color: #0F3C63!important;
}
nav.bd-links{
    padding-top: 0
}
.bd-links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -15px;
    margin-left: -15px;
}
.bd-sidebar {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
}
.bd-search {
    position: relative;
    padding: 1rem 0px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    width: 100%;
}
.nav-item {
    width: 100%;
}
.bd-sidenav a {
    padding: 15px 35px 15px 20px;
    width: 100%;
    display: block;
    color: #54667a;
}
.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.bd-sidenav > li > a:hover, .bd-sidenav > li > a:focus {
    background: rgba(0, 0, 0, 0.07);
    color: #54667a;
    text-decoration: none;
}
button.search{
    position: absolute;
    background: transparent;
    border: none;
    color: #929292;
    margin-left: 3px;
    margin-top: -.5px;
}
input#search{
    padding-left: 25px
}
.submenu{
    list-style: none;
    padding-left: 0;
}
.submenu li a{
    text-decoration: none;
    padding: 15px 35px 15px 35px
}
.bd-search-docs-toggle {
    background: transparent;
    border: 1px solid #ced4da!important;
    color: #72777a;
    outline: none;
}
button:focus {outline:0;}
#user_menu{
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 1px solid rgba(0,0,0,.05);  
    background: rgba(0,0,0,.02);
    margin-right: -15px;
    margin-left: -15px;
}
.navbar-dark .navbar-nav .nav-link {
    color: white!important;
}
@media (min-width: 1200px){
    .bd-sidebar {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 320px;
        flex: 0 1 320px;
    }
    }
@media (min-width: 768px){
    .bd-links {
        display: block!important;
    }
    
    .bd-links {
        max-height: calc(100vh - 9rem);
        overflow-y: auto;
    }
    .bd-sidebar {
        position: -webkit-sticky;
        position: sticky;
        z-index: 1000;
        height: calc(100vh - 76px);
    }
}
