<%= render partial: 'shared/header', locals: { title: "TODAS TUS CUENTAS", collections: @accounts } %>

<p id="notice"><%= notice %></p>

<% @accounts.each do |account| %>
  <%= render partial: 'row', locals: { account: account } %>
<% end %>

<%= link_to 'New Account', new_account_path %>
